
*{
    margin: 0px;
    padding: 0px;
}

#principal header{
    background: black url(../imagens/corpo1.png) right no-repeat;
    color:white;
    height: 650px;
    opacity: 0.9;
}

#contato{
    background: white url(../imagens/bg.png);
}

#contato header{
    height: 160px;
}

#sobre header{
    height: 160px;
}

#contato #logo{
    width: 70%;
    height: 70%;
}

#sobre #logo{
    width: 70%;
    height: 70%;
    margin-bottom: 100px;
}

header #nav-principal a{
    font-size: 1.2em;
}

header #nav-principal .botaoenter{
    margin-top: 2px;
    font-size: 0.9em;
}


header #nav-principal{
    margin-bottom: 10%;
    padding-bottom: 5%;
}

header #nav-principal a:hover{
    border-bottom: 1px solid purple;
}

header #nav-principal .botaoenter a:hover{
    border: none;
}

#info h4{
    font-size: 2em;
    border-bottom: 1px solid rgb(73, 72, 72);
}

#saiba p{
    font-size: 1.5em;
}

#saiba{
    border-bottom: 1px solid rgb(226, 224, 224);
}

#depoimentos h4{
    font-size: 1.4em;
    text-align: center;
}

.texto{
    background: white;
}

footer{
    background: white;
    opacity: 0.97;

}

footer i{
    font-size: 1.5em;
}

footer p{
    font-size: 1.2em;
}



@media (max-width: 575.98px) {

    #sobre button{
        margin-bottom:150px;
    }


    #principal header{
        background: black;
        opacity: 0.9;
    }

    #principal header #nav-principal{
        margin-bottom: 8%;
        padding-bottom: 0%;
    }

    #nav-principal ul{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #nav-principal ul li a{
        width: 20%;
        font-size: 1em;
    }

    #logo{
        height: 60%;
        width: 60%;
    }

    #info{
        margin-top: 3%;
        font-size: 0.8em;
    }

    #info .informacoes{
        margin-left: 20px;
    }

    #saiba img{
        margin-bottom: 10px;
    }

    footer{
        text-align: center;
        font-size: 0.8em;
    }

    footer #icons{
        margin: 0 23% 10px 0;
    }


}

